1. How-to-count-distance-to-the-previous-zero
For each value, count the difference of the distance from the previous zero (or the start
of the Series, whichever is closer) and if there are no previous zeros,print the position
Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.

In [12]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

izero = np.r_[-1, (df['X'] == 0).nonzero()[0]] # indices of zeros
idx = np.arange(len(df))
df['Y'] = idx - izero[np.searchsorted(izero - 1, idx) - 1]

print(df['Y'])

0    1
1    2
2    0
3    1
4    2
5    3
6    4
7    0
8    1
9    2
Name: Y, dtype: int64

2.Create a DatetimeIndex that contains each business day of 2015 and use it to index a
Series of random numbers.

In [18]:
import pandas as pd
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
print(dti)
print('\n\n')

#Index the series, s be the index
s = pd.Series(np.random.rand(len(dti)), index=dti)
print(s)

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')



2015-01-01    0.042609
2015-01-02    0.227894
2015-01-05    0.183501
2015-01-06    0.465329
2015-01-07    0.619324
2015-01-08    0.447350
2015-01-09    0.891150
2015-01-12    0.308425
2015-01-13    0.512599
2015-01-14    0.283741
2015-01-15    0.994906
2015-01-16    0.499222
2015-01-19    0.157787
2015-01-20    0.840959
2015-01-21    0.737659
2015-01-22    0.479975
2015-01-23    0.871919
2015-01-26    0.753884
2015-01-27    0.612278
2015-01-28    0.837635
2015-01-29    0.763528
2015-01-30    0.756167
2015-02-02    0.515089
2015-02-03    0.868190
2015-02-04    0.671416
2015-02-05    0.361831
2015-02-06    0.502154
2015-02-09    0.020088
2015-02-10    0.510246
2015-02-11    0.760829
                ...
2015-11-20    0.432840
2015-11-23    0.168333
2015-11-24    0.286359
2015-11-25    0.489019
2015-11-26    0.539896
2015-11-27    0.747440
2015-11-30    0.106292
2015-12-01    0.933239
2015-12-02    0.985883
2015-12-03    0.131353
2015-12-04    0.974128
2015-12-07    0.727470
2015-12-08    0.400113
2015-12-09    0.382045
2015-12-10    0.119654
2015-12-11    0.637704
2015-12-14    0.766046
2015-12-15    0.647473
2015-12-16    0.709541
2015-12-17    0.059130
2015-12-18    0.264670
2015-12-21    0.992626
2015-12-22    0.947139
2015-12-23    0.140952
2015-12-24    0.333952
2015-12-25    0.021110
2015-12-28    0.191504
2015-12-29    0.708658
2015-12-30    0.398210
2015-12-31    0.331776
Freq: B, Length: 261, dtype: float64

3.Find the sum of the values in s for every Wednesday

In [19]:
s[dti.weekday == 2].sum()

26.285562048896843

4.Average For each calendar month

In [21]:
s.resample('M').mean()

2015-01-31    0.558538
2015-02-28    0.516505
2015-03-31    0.514909
2015-04-30    0.518628
2015-05-31    0.477426
2015-06-30    0.602876
2015-07-31    0.473335
2015-08-31    0.494299
2015-09-30    0.502728
2015-10-31    0.541438
2015-11-30    0.426172
2015-12-31    0.513234
Freq: M, dtype: float64

5.For each group of four consecutive calendar months in s, find the date on which the
highest value occurred.

In [24]:
s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-15
2015-05-31   2015-04-29
2015-09-30   2015-06-16
2016-01-31   2015-12-21
dtype: datetime64[ns]